.blur {
  filter: blur(3px);
}

.hue-rotate {
  filter: hue-rotate(158deg);
}

.saturate_and-hue-rotate {
  filter: saturate(5.5) hue-rotate(27deg);
}

.brightness {
  filter: brightness(2);
}

.sepia {
  filter: sepia(0.3);
}

.contrast {
  filter: contrast(1.5);
}
