.blur {
  filter: blur(3px);
}

.hue-rotate {
  filter: hue-rotate(158deg);
}

.saturate_and_brightness {
  filter: saturate(5.5) brightness(2);
}

.brightness {
  filter: brightness(2);
}

.sepia {
  filter: sepia(0.3);
}

.contrast {
  filter: contrast(1.5);
}
