@media (width <= 512px) {
  .card_image-border:first-child .label {
    top: 75px;
  }
}

@media (width <= 375px) {
  .header {
    padding-block: 120.4px 119.2px;
  }

  .main_heading {
    letter-spacing: 1px;
    padding-block-end: 21px;
  }

  .save_button {
    flex-direction: column;
    column-gap: 0;
    row-gap: 8px;
    margin-bottom: 100px;
  }

  .save_icon {
    height: 28px;
  }
}
