@media (width <= 375px) {
  .header {
    padding-block: 120.4px 119.2px;
  }

  .main_heading {
    letter-spacing: 1px;
    padding-block-end: 21px;
  }

  .label {
    right: 3%;
    top: 23px;
  }

  .save_button {
    flex-direction: column;
    column-gap: 0;
    row-gap: 8px;
    margin-bottom: 100px;
  }

  .save_icon {
    height: 28px;
  }

  #needs-a-floppy {
    padding: 30px 23px;
  }

  .dialog_icon {
    margin-inline-start: 16.9px;
  }

  .dialog_text {
    column-gap: 19.5px;
  }

  .dialog_button {
    padding-block: 8.2px;
    margin-inline: 17px;
  }
}
