/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font), sans-serif;
  font-size: var(--text-size);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--main-color);
  background-image: var(--bg-gradient);
  background-attachment: fixed;
  background-size: cover;
  font-variation-settings: "wght" var(--font-weight);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-family: var(--accent-font), fantasy;
  text-transform: uppercase;
  margin-block: 100px;
  display: inherit;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 128px;
}

.main_heading {
  font-size: var(--header_heading-size);
  font-weight: var(--font-weight);
  padding-block-end: 20px;
}

.main_heading-title {
  font-size: var(--heading_title-size);
}

.main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  inline-size: var(--section-width);
  border: var(--accent-color) 2px solid;
  position: relative;
  background-color: var(--main-color);
}

.card_heading {
  font-variation-settings: "wght" var(--card_heading-weight);
  padding-inline: 10px;
  font-size: var(--text-size);
  padding-block: 5.4px 6px;
  line-height: 1.2em;
}

.card_image-border {
  outline: 2px var(--accent-color) solid;
}

.card_image {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.label {
  position: absolute;
  font-family: var(--accent-font), fantasy;
  font-size: var(--label-and-button_text-size);
  right: 3.7%;
  top: 58px;
  text-shadow: var(--main-color) 0px 0.2px, var(--main-color) 0px -0.2px,
    var(--main-color) 0.2px 0px, var(--main-color) -0.2px 0px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: var(--main-color) 0.5px) {
  .label {
    text-shadow: none;
    -webkit-text-stroke: var(--main-color) 0.5px;
  }
}

.card_content {
  padding: 25px;
  padding-block-start: 27px;
}

.card_text {
  display: flex;
  padding-block-end: 25px;
  row-gap: 27px;
  flex-direction: column;
}

.card_margin-bottom {
  margin-block-end: 50px;
}

#needs-a-floppy {
  font-family: var(--accent-font), fantasy;
  width: min(90.94%, 353px);
  min-height: 191px;
  padding: 30px;
  position: fixed;
  inset-block: 0;
  text-transform: uppercase;
}

#needs-a-floppy[open] {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.page:has(#needs-a-floppy[open]) {
  overflow: hidden;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog_icon {
  width: 39px;
  height: 39px;
}

.dialog_text {
  display: grid;
  grid-template-columns: 0fr 2fr;
  column-gap: 20px;
  align-items: center;
  font-size: 14px;
  line-height: 1.4em;
}
